<table>
  <tr>
    <td>ALive:</td>
    <td><%= live_render @conn, MyselfReproWeb.ALive, id: :a_live  %></td>
  </tr>
  <tr>
    <td>BLive:</td>
    <td><%= live_render @conn, MyselfReproWeb.BLive, id: :b_live  %></td>
  </tr>
</table>
